root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
# Trailing double spaces are hard line breaks in markdown.
trim_trailing_whitespace = false

[*.{json,jsonc,yml,yaml}]
indent_style = space
indent_size = 2

[*.sh]
indent_style = space
indent_size = 4

[.githooks/*]
indent_style = space
indent_size = 4

[*.mjs]
indent_style = space
indent_size = 2